//@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@400;700&display=swap');
@import 'reset';
@import 'links';
@import 'light_mode_colors';

:root {
  font-size: 62.5%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  min-width: 28rem;
  height: 100%;
}

body {
  min-width: 28rem;
  background-color: white;
  background-image: url(../assets/404_background_image.svg),
    var(--body-background);
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: auto, 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  padding: 0.7rem 1rem;
  height: 6rem;
  width: 100%;
  border-bottom-right-radius: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/header_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--header-triangle-position);
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.error_info {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.error_link {
  opacity: 0.7;
  font-size: 1.6rem;
  padding: 0.9rem 2.7rem;
  background-color: #00256c;
  border-radius: 3rem;
  &:hover {
    opacity: 1;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--footer-background);

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/footer_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--footer-triangle-position);
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}

.footer_text {
  margin-right: 1rem;
}

/////////////////////////////////////////////
//              media queries              //
/////////////////////////////////////////////

@media (min-width: 460px) {
  body {
    background-size: 60%, 100%;
  }
}

@media (min-width: 280px) and (max-width: 460px) and (max-height: 400px) {
  .header {
    position: absolute;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-size: 40%, 100%;
    padding-top: 20rem;
  }
  .header {
    border-bottom-right-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .error_info {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .error_link {
    font-size: 2.2rem;
    padding: 1.2rem 3.7rem;
  }

  .footer {
    height: 4rem;
    border-top-left-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .footer_text {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}

@media (max-height: 414px) and (min-width: 460px) and (max-width: 823px) {
  .header {
    height: 5rem;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 26rem;
  }

  .header {
    height: 7.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #{$body-background-dark};

    --header-background: #{$header-background-dark};

    --header-triangle-position: #{$header-triangle-position-dark};

    --footer-background: #{$footer-background-dark};

    --footer-triangle-position: #{$footer-triangle-position-dark};

    --search-background-focused: #{$search-background-focused-dark};

    --search-list-background: #{$search-list-background-dark};

    --search-color-focused: #{$search-color-focused-dark};

    --search-list-color: #{$search-list-color-dark};

    --search-list-box-shadow: #{$search-list-box-shadow-dark};

    --search-item-hover: #{$search-item-hover-dark};

    --button-mode-position: #{$button-mode-position-dark};

    --amount-header-color: #{$amount-header-color-dark};

    --spinner-path-stroke: #{$spinner-path-stroke-dark};

    --item-title-color: #{$item-title-color-dark};

    --item-subtitle-color: #{$item-subtitle-color-dark};

    --item-info-button-color: #{$item-info-button-color-dark};

    --item-like-button-position: #{$item-like-button-position-dark};

    --item-background: #{$item-background-dark};

    --item-box-shadow: #{$item-box-shadow-dark};

    --modal-container-background: #{$modal-container-background-dark};

    --modal-box-shadow: #{$modal-box-shadow-dark};

    --modal-background: #{$modal-background-dark};

    --data-title-color: #{$data-title-color-dark};

    --data-content-color: #{$data-content-color-dark};

    --link-icon-position: #{$link-icon-position-dark};

    --explicit-text: #{$explicit-text-dark};

    --explicit-background: #{$explicit-background-dark};

    --back-button-position: #{$back-button-position-dark};

    --like-button-position: #{$like-button-position-dark};

    --audio-container-background: #{$audio-container-background-dark};

    --audio-button-position: #{$audio-button-position-dark};

    --audio-path-stroke: #{$audio-path-stroke-dark};
  }
}

.light_mode {
  --body-background: #{$body-background-light};

  --header-background: #{$header-background-light};

  --header-triangle-position: #{$header-triangle-position-light};

  --footer-background: #{$footer-background-light};

  --footer-triangle-position: #{$footer-triangle-position-light};

  --search-background-focused: #{$search-background-focused-light};

  --search-list-background: #{$search-list-background-light};

  --search-color-focused: #{$search-color-focused-light};

  --search-list-color: #{$search-list-color-light};

  --search-list-box-shadow: #{$search-list-box-shadow-light};

  --search-item-hover: #{$search-item-hover-light};

  --button-mode-position: #{$button-mode-position-light};

  --amount-header-color: #{$amount-header-color-light};

  --spinner-path-stroke: #{$spinner-path-stroke-light};

  --item-info-button-color: #{$item-info-button-color-light};

  --item-like-button-position: #{$item-like-button-position-light};

  --item-title-color: #{$item-title-color-light};

  --item-subtitle-color: #{$item-subtitle-color-light};

  --item-background: #{$item-background-light};

  --item-box-shadow: #{$item-box-shadow-light};

  --modal-container-background: #{$modal-container-background-light};

  --modal-box-shadow: #{$modal-box-shadow-light};

  --modal-background: #{$modal-background-light};

  --data-title-color: #{$data-title-color-light};

  --data-content-color: #{$data-content-color-light};

  --link-icon-position: #{$link-icon-position-light};

  --explicit-text: #{$explicit-text-light};

  --explicit-background: #{$explicit-background-light};

  --back-button-position: #{$back-button-position-light};

  --like-button-position: #{$like-button-position-light};

  --audio-container-background: #{$audio-container-background-light};

  --audio-button-position: #{$audio-button-position-light};

  --audio-path-stroke: #{$audio-path-stroke-light};
}
