@import 'reset';
@import 'lightModeColors';
@import 'darkModeColors';

:root {
  font-size: 62.5%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  min-width: 28rem;
  height: 100%;
}

body {
  min-width: 28rem;
  background-color: white;
  background-image: url(../assets/404_background_image.svg),
    var(--body-background);
  background-repeat: no-repeat;
  background-position: center 35%;
  background-size: auto, 100%;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  padding: 0.7rem 1rem;
  height: 6rem;
  width: 100%;
  border-bottom-right-radius: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/header_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--header-triangle-position);
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.error_info {
  color: var(--error-info-color);
  font-size: 1.6rem;
  font-weight: var(--error-info-font-weight);
  text-align: center;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.error_link {
  opacity: 0.7;
  font-size: 1.6rem;
  padding: 0.9rem 2.7rem;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #00256c;
  border-radius: 3rem;
  &:hover {
    opacity: 1;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--footer-background);

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/footer_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--footer-triangle-position);
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}

.footer_text {
  margin-right: 1rem;
}

/////////////////////////////////////////////
//              media queries              //
/////////////////////////////////////////////

@media (min-width: 460px) {
  body {
    background-size: 60%, 100%;
    padding-top: 20rem;
  }

  .error_info {
    font-size: 2.2rem;
  }
}

@media (min-width: 280px) and (max-width: 460px) and (max-height: 400px) {
  .header {
    position: absolute;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-size: 40%, 100%;
    padding-top: 20rem;
  }
  .header {
    border-bottom-right-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .error_info {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  .error_link {
    font-size: 2.2rem;
    padding: 1.2rem 3.7rem;
  }

  .footer {
    height: 4rem;
    border-top-left-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .footer_text {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}

@media (max-height: 414px) and (min-width: 460px) and (max-width: 823px) {
  .header {
    height: 5rem;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 26rem;
  }

  .header {
    height: 7.5rem;
  }
}
