$body-background-light: linear-gradient(
  to top,
  rgba(227, 227, 227, 0.3),
  rgba(227, 227, 227, 0.5)
);

$body-background-dark: linear-gradient(
  to top,
  rgb(17, 20, 29),
  rgb(17, 20, 29)
);

$header-background-light: linear-gradient(
  115deg,
  rgb(0, 37, 108) 15%,
  rgb(0, 67, 135) 33%,
  rgb(118, 75, 132) 67%,
  rgb(217, 66, 113)
);

$header-background-dark: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  linear-gradient(
    115deg,
    rgb(0, 37, 108) 15%,
    rgb(0, 67, 135) 33%,
    rgb(118, 75, 132) 67%,
    rgb(217, 66, 113)
  );

$header-triangle-position-light: top center;

$header-triangle-position-dark: bottom center;

$footer-background-light: linear-gradient(
  115deg,
  rgb(0, 37, 108) 15%,
  rgb(0, 67, 135) 33%,
  rgb(118, 75, 132) 67%,
  rgb(217, 66, 113)
);

$footer-background-dark: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
  ),
  linear-gradient(
    115deg,
    rgb(0, 37, 108) 15%,
    rgb(0, 67, 135) 33%,
    rgb(118, 75, 132) 67%,
    rgb(217, 66, 113)
  );

$footer-triangle-position-light: top center;

$footer-triangle-position-dark: bottom center;

$search-background-focused-light: rgba(white, 1);

$search-background-focused-dark: rgb(38, 55, 79);

$search-list-background-light: rgb(243, 243, 243);

$search-list-background-dark: rgb(26, 38, 56);

$search-color-focused-light: rgba(0, 0, 0, 0.5);

$search-color-focused-dark: rgba(255, 255, 255, 1);

$search-list-box-shadow-light: rgba(0, 0, 0, 0.1);

$search-list-box-shadow-dark: rgba(0, 0, 0, 0.2);

$search-list-color-light: rgba(0, 0, 0, 0.35);

$search-list-color-dark: rgba(255, 255, 255, 0.5);

$search-item-hover-light: rgb(234, 234, 234);

$search-item-hover-dark: rgb(38, 55, 79);

$button-mode-position-light: top center;

$button-mode-position-dark: bottom center;

$amount-header-color-light: rgb(0, 58, 127);

$amount-header-color-dark: rgb(233, 233, 234);

$spinner-path-stroke-light: rgb(0, 58, 127);

$spinner-path-stroke-dark: #df4c77;

$item-title-color-light: rgba(0, 0, 0, 0.5);

$item-title-color-dark: rgba(255, 255, 255, 0.65);

$item-subtitle-color-light: #00276d;

$item-subtitle-color-dark: #df4c77;

$item-info-button-color-light: rgba(0, 0, 0, 0.4);

$item-info-button-color-dark: rgba(255, 255, 255, 0.4);

$item-like-button-position-light: left;

$item-like-button-position-dark: right;

$item-background-light: white;

$item-background-dark: #202129;

$item-box-shadow-light: rgba(0, 0, 0, 0.1);

$item-box-shadow-dark: rgba(0, 0, 0, 0.2);

$modal-container-background-light: rgba(0, 0, 0, 0.2);

$modal-container-background-dark: rgba(0, 0, 0, 0.7);

$modal-box-shadow-light: rgba(0, 0, 0, 0.15);

$modal-box-shadow-dark: rgba(0, 0, 0, 0.2);

$modal-background-light: linear-gradient(
  to top,
  #f3f3f3 0%,
  #f3f3f3 40%,
  rgba(#f3f3f3, 0.9) 44%,
  rgba(#f3f3f3, 0.5) 52%,
  rgba(#f3f3f3, 0.2) 60%,
  rgba(#f3f3f3, 0.05) 68%,
  rgba(#f3f3f3, 0) 100%
);

$modal-background-dark: linear-gradient(
  to top,
  #11141d 0%,
  #11141d 38%,
  rgba(#11141d, 0.97) 40%,
  rgba(#11141d, 0.87) 44%,
  rgba(#11141d, 0.67) 49%,
  rgba(#11141d, 0.4) 54%,
  rgba(#11141d, 0.15) 60%,
  rgba(#11141d, 0) 65%,
  rgba(#11141d, 0) 100%
);

$data-title-color-light: rgba(0, 0, 0, 0.7);

$data-title-color-dark: rgba(255, 255, 255, 0.7);

$data-content-color-light: rgb(0, 39, 109);

$data-content-color-dark: rgb(223, 76, 119);

$link-icon-position-light: top center;

$link-icon-position-dark: bottom center;

$explicit-background-light: white;

$explicit-background-dark: #11141d;

$explicit-text-light: rgba(0, 0, 0, 0.4);

$explicit-text-dark: rgba(255, 255, 255, 0.7);

$back-button-position-light: top center;

$back-button-position-dark: bottom center;

$like-button-position-light: left;

$like-button-position-dark: right;

$audio-container-background-light: rgba(255, 255, 255, 0.7);

$audio-container-background-dark: rgba(rgb(17, 20, 29), 0.7);

$audio-button-position-light: left;

$audio-button-position-dark: right;

$audio-path-stroke-light: #00256c;

$audio-path-stroke-dark: #df4c77;

// .light_mode {
//   --body-background: #{$body-background-light};

//   --header-background: #{$header-background-light};

//   --header-triangle-position: #{$header-triangle-position-light};

//   --footer-background: #{$footer-background-light};

//   --footer-triangle-position: #{$footer-triangle-position-light};

//   --search-background-focused: #{$search-background-focused-light};

//   --search-list-background: #{$search-list-background-light};

//   --search-color-focused: #{$search-color-focused-light};

//   --search-list-color: #{$search-list-color-light};

//   --search-list-box-shadow: #{$search-list-box-shadow-light};

//   --search-item-hover: #{$search-item-hover-light};

//   --button-mode-position: #{$button-mode-position-light};

//   --amount-header-color: #{$amount-header-color-light};

//   --item-info-button-color: #{$item-info-button-color-light};

//   --item-like-button-position: #{$item-like-button-position-light};

//   --item-title-color: #{$item-title-color-light};

//   --item-subtitle-color: #{$item-subtitle-color-light};

//   --item-background: #{$item-background-light};

//   --item-box-shadow: #{$item-box-shadow-light};

//   --modal-container-background: #{$modal-container-background-light};

//   --modal-box-shadow: #{$modal-box-shadow-light};

//   --modal-background: #{$modal-background-light};

//   --data-title-color: #{$data-title-color-light};

//   --data-content-color: #{$data-content-color-light};

//   --link-icon-position: #{$link-icon-position-light};

//   --explicit-text: #{$explicit-text-light};

//   --explicit-background: #{$explicit-background-light};

//   --back-button-position: #{$back-button-position-light};

//   --like-button-position: #{$like-button-position-light};

//   --audio-container-background: #{$audio-container-background-light};

//   --audio-button-position: #{$audio-button-position-light};

//   --audio-path-stroke: #{$audio-path-stroke-light};
// }

.dark_mode {
  --body-background: #{$body-background-dark};

  --header-background: #{$header-background-dark};

  --header-triangle-position: #{$header-triangle-position-dark};

  --footer-background: #{$footer-background-dark};

  --footer-triangle-position: #{$footer-triangle-position-dark};

  --search-background-focused: #{$search-background-focused-dark};

  --search-list-background: #{$search-list-background-dark};

  --search-color-focused: #{$search-color-focused-dark};

  --search-list-color: #{$search-list-color-dark};

  --search-list-box-shadow: #{$search-list-box-shadow-dark};

  --search-item-hover: #{$search-item-hover-dark};

  --button-mode-position: #{$button-mode-position-dark};

  --amount-header-color: #{$amount-header-color-dark};

  --spinner-path-stroke: #{$spinner-path-stroke-dark};

  --item-title-color: #{$item-title-color-dark};

  --item-subtitle-color: #{$item-subtitle-color-dark};

  --item-info-button-color: #{$item-info-button-color-dark};

  --item-like-button-position: #{$item-like-button-position-dark};

  --item-background: #{$item-background-dark};

  --item-box-shadow: #{$item-box-shadow-dark};

  --modal-container-background: #{$modal-container-background-dark};

  --modal-box-shadow: #{$modal-box-shadow-dark};

  --modal-background: #{$modal-background-dark};

  --data-title-color: #{$data-title-color-dark};

  --data-content-color: #{$data-content-color-dark};

  --link-icon-position: #{$link-icon-position-dark};

  --explicit-text: #{$explicit-text-dark};

  --explicit-background: #{$explicit-background-dark};

  --back-button-position: #{$back-button-position-dark};

  --like-button-position: #{$like-button-position-dark};

  --audio-container-background: #{$audio-container-background-dark};

  --audio-button-position: #{$audio-button-position-dark};

  --audio-path-stroke: #{$audio-path-stroke-dark};
}

// html.animate_mode,
// html.animate_mode *,
// html.animate_mode *:before,
// html.animate_mode *:after {
//   transition: all 2000ms !important;
//   transition-delay: 0 !important;
// }
