//@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@400;700&display=swap');
@import 'reset';
@import 'music_item';
@import 'links';

:root {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
  --background: linear-gradient(
    45deg,
    #f09433,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888
  );
}
html {
  min-width: 28rem;
}

body {
  min-width: 28rem;
  background-color: white;
  background-image: url(../assets/mobile_background_image.svg),
    linear-gradient(to top, rgba(227, 227, 227, 0.3), rgba(227, 227, 227, 0.5));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10rem 2rem 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  padding: 0.7rem 1rem;
  height: 9rem;
  width: 100%;
  border-bottom-right-radius: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    115deg,
    rgb(0, 37, 108) 15%,
    rgb(0, 67, 135) 33%,
    rgb(118, 75, 132) 67%,
    rgb(217, 66, 113)
  );
  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: space-around;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../assets/rectangle.svg);
    position: absolute;
    top: calc(100% - 2px);
    left: -2px;
  }
}

.header_logo {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_link {
  display: flex;
  opacity: 0.8;
  align-items: center;
  color: white;
  outline: none;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  &:hover,
  &:focus,
  &:active {
    color: #d94271;
    opacity: 1;

    & .header_icon {
      fill: #d94271;
    }
  }
}

.header_icon {
  fill: white;
  width: 2.2rem;
  margin-right: 0.5rem;
}

.header_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_search {
  height: 3.5rem;
  position: relative;
  min-width: 17rem;
  max-width: 22rem;
  margin-left: 0.5rem;
  border-radius: 3rem;
  transform-style: preserve-3d;
  z-index: 2;
  background-color: rgba(white, 0.15);
  display: flex;
  align-items: stretch;
  transition: background-color 0.2s ease-out;
  color: white;
  flex-grow: 1;
}

.header_search:focus-within {
  background-color: rgba(white, 1);
}

.header_search:focus-within .search_list {
  transform: scale(1) translateZ(-10px);
  background-color: #f0f0f0;
}

.header_search:focus-within .search_input {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.header_search:focus-within .search_icon {
  fill: rgba(0, 0, 0, 0.5);
}

.header_search:focus-within .search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search_icon {
  padding: 0 0.5rem 0 1rem;
  width: 1.6rem;
  height: 100%;
  fill: white;
}

.search_input {
  font-size: 1.6rem;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  width: calc(100% - 4.5rem);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  &::placeholder {
    color: white;
  }
}

.search_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.5rem;
  background-color: none;
  transform: scale(0) translateZ(-10px);
  transition: background-color 0.2s ease-out;
  border-radius: 1.75rem;
  color: rgba(0, 0, 0, 0.35);
  font-size: 1.6rem;
  overflow: hidden;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.list_item {
  outline: none;
  list-style: none;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
  &:hover {
    background: #e5e5e5;
  }
  &:focus {
    background: #e5e5e5;
  }

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.button_group {
  display: flex;
  justify-content: space-around;
  width: 35vw;
}

.header_button {
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  background-repeat: no-repeat;
  background-position: top center;
  outline: none;
  border: none;
  opacity: 0.75;
  min-width: 3rem;
  height: 3rem;
  margin: 0;
  margin-right: 1rem;
  transition: transform 0.1s ease-out;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    transform: scale(1.15);
  }
}

.button--user {
  background-image: url(../assets/user_icons.svg);
  position: relative;
  margin-left: 1rem;
}

.button--mode {
  background-image: url(../assets/mode_icons.svg);
}

.button_quantity {
  color: white;
  position: absolute;
  top: -0.2rem;
  right: 0;
}

.container {
  transition: opacity 0.5s ease;
}
.container--visible {
  opacity: 1;
}
.spinner {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #fb5b53;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spinning 1s forwards infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

// .modal {
//   position: relative;
//   width: 400px;
//   height: 500px;
//   background: white;
//   border-radius: 20px;
//   background-image: url('../assets/modal_background_image.svg');

//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-position: bottom center;
//   overflow: hidden;
//   img {
//     width: 100%;
//     &::after {
//       position: absolute;
//       display: block;
//       width: 100%;
//       height: 100%;
//       background: black;
//     }
//   }
// }

.modal {
  position: relative;
  width: 400px;
  height: 500px;
  background: white;
  border-radius: 20px;
  background-image: url('../assets/modal_background_image.svg'),
    linear-gradient(
      to top,
      rgba(white, 1) 0%,
      rgba(white, 1) 50%,
      rgba(white, 0) 100%
    ),
    url('../assets/1.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
  background-position: bottom center, center center, top center;
}
