//@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@400;700&display=swap');
@import 'reset';
@import 'music_item';
@import 'links';

:root {
  font-size: 62.5%;
  font-family: 'Roboto Condensed', sans-serif;
  --background: linear-gradient(
    45deg,
    #f09433,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888
  );
}
html {
  min-width: 28rem;
}

body {
  min-width: 28rem;
  background-color: white;
  background-image: url(../assets/mobile_background_image.svg),
    linear-gradient(to top, rgba(227, 227, 227, 0.3), rgba(227, 227, 227, 0.5));
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0 auto;
  padding: 11rem 2rem 1.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.modal--opened {
  //height: 100vh;
  overflow-y: hidden;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  padding: 0.7rem 1rem;
  height: 9rem;
  width: 100%;
  border-bottom-right-radius: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: linear-gradient(
    115deg,
    rgb(0, 37, 108) 15%,
    rgb(0, 67, 135) 33%,
    rgb(118, 75, 132) 67%,
    rgb(217, 66, 113)
  );
  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: space-around;

  &::after {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../assets/rectangle.svg);
    position: absolute;
    top: calc(100% - 2px);
    left: -2.1px;
  }
}

.header_logo {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_link {
  display: flex;
  opacity: 0.8;
  align-items: center;
  color: white;
  outline: none;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  &:hover,
  &:focus,
  &:active {
    color: #d94271;
    opacity: 1;

    & .header_icon {
      fill: #d94271;
    }
  }
}

.header_icon {
  fill: white;
  width: 2.2rem;
  margin-right: 0.5rem;
}

.header_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_search {
  height: 3.5rem;
  position: relative;
  min-width: 17rem;
  max-width: 22rem;
  margin-left: 0.5rem;
  border-radius: 3rem;
  transform-style: preserve-3d;
  z-index: 2;
  background-color: rgba(white, 0.15);
  display: flex;
  align-items: stretch;
  transition: background-color 0.2s ease-out;
  color: white;
  flex-grow: 1;
}

.header_search:focus-within {
  background-color: rgba(white, 1);
}

.header_search:focus-within .search_list {
  transform: scale(1) translateZ(-10px);
  background-color: #f0f0f0;
}

.header_search:focus-within .search_input {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.header_search:focus-within .search_icon {
  fill: rgba(0, 0, 0, 0.5);
}

.header_search:focus-within .search_input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search_icon {
  padding: 0 0.5rem 0 1rem;
  width: 1.6rem;
  height: 100%;
  fill: white;
}

.search_input {
  font-size: 1.6rem;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  width: calc(100% - 4.5rem);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  &::placeholder {
    color: white;
  }
}

.search_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.5rem;
  background-color: none;
  transform: scale(0) translateZ(-10px);
  transition: background-color 0.2s ease-out;
  border-radius: 1.75rem;
  color: rgba(0, 0, 0, 0.35);
  overflow: hidden;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.list_item {
  font-size: 1.6rem;
  outline: none;
  list-style: none;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;
  &:hover {
    background: #e5e5e5;
  }
  &:focus {
    background: #e5e5e5;
  }

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.button_group {
  display: flex;
  justify-content: space-around;
  width: 35vw;
}

.header_button {
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  background-repeat: no-repeat;
  background-position: top center;
  outline: none;
  border: none;
  opacity: 0.75;
  min-width: 3rem;
  height: 3rem;
  margin: 0;
  margin-right: 1rem;
  transition: transform 0.1s ease-out;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    transform: scale(1.15);
  }
}

.button--user {
  background-image: url(../assets/user_icons.svg);
  position: relative;
  margin-left: 1rem;
}

.button--mode {
  background-image: url(../assets/mode_icons.svg);
}

.button_quantity {
  color: white;
  position: absolute;
  top: -0.2rem;
  right: 0;
}

.items_container {
  opacity: 0;
  //display: grid;
  //grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  //grid-gap: 1.5rem;
}
.visible {
  transition: opacity 0.5s ease;
  opacity: 1;
}

.amount_header {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: #003a7f;
  //grid-column: 1 / -1;
}
.spinner {
  display: none;
  width: 50px;
  height: 50px;
  border: 5px solid #fb5b53;
  border-top: 5px solid transparent;
  border-radius: 50%;
  animation: spinning 1s forwards infinite linear;
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  transform: scale(0);
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out, transform 0s 0.3s ease-out;
}

.modal_container--visible {
  display: flex;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.3s ease-out, transform 0s 0s ease-out;
}

// .modal {
//   position: relative;
//   width: 400px;
//   height: 500px;
//   background: white;
//   border-radius: 20px;
//   background-image: url('../assets/modal_background_image.svg');

//   background-repeat: no-repeat;
//   background-size: 100%;
//   background-position: bottom center;
//   overflow: hidden;
//   img {
//     width: 100%;
//     &::after {
//       position: absolute;
//       display: block;
//       width: 100%;
//       height: 100%;
//       background: black;
//     }
//   }
// }

.modal {
  position: relative;
  width: 27rem;
  height: 44rem;
  background: white;
  color: black;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.15);

  .modal_image {
    width: 100%;
    height: auto;
  }

  .modal_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.8rem 1.8rem 4.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url('../assets/modal_background_image.svg'),
      linear-gradient(
        to top,
        #f3f3f3 0%,
        #f3f3f3 40%,
        rgba(#f3f3f3, 0.9) 44%,
        rgba(#f3f3f3, 0.5) 52%,
        rgba(#f3f3f3, 0.2) 60%,
        rgba(#f3f3f3, 0.05) 68%,
        rgba(#f3f3f3, 0) 100%
      );

    background-repeat: no-repeat;
    background-size: 100%;
    //display: none;
    background-position: bottom center, center center, top center;

    .data_title {
      color: rgba(0, 0, 0, 0.7);
      font-weight: 700;
      font-size: 1.1rem;
      font-family: 'Roboto Condensed', sans-serif;
      text-transform: uppercase;
      width: 30%;
      padding-top: 0.5rem;
    }
    .data_content {
      color: #00276d;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.2;
      font-family: 'Roboto Condensed', sans-serif;
      width: 65%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .data_content--background {
      background-image: url(../assets/stars_group.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    .data_content--foreground {
      background-image: url(../assets/stars_group_filled.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
    }

    .data_link {
      position: relative;
      display: flex;
      color: #00276d;
      font-weight: 700;
      font-size: 1.6rem;

      width: 65%;
      transform: translate(1.7rem, 0.2rem);

      &:focus,
      &:hover {
        text-decoration: underline;
      }
      &:focus::before,
      &:hover::before {
        transform: scale(1.05);
      }
    }

    .data_link::before {
      content: '';
      background-image: url(../assets/link_icons.svg);
      width: 1.4rem;
      height: 1.4rem;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      left: -1.9rem;
      top: 0.1rem;
    }
  }

  .modal_data--explicit {
    &::after {
      content: 'explicit';
      display: block;
      position: absolute;
      background: white;
      width: 8rem;
      height: 2rem;
      border-bottom-left-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      top: 0;
      right: 0;
      z-index: 10;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .data_entry {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
  }

  .buttons_group {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem 1.5rem;
  }

  .back_button {
    background: none;
    background-image: url(../assets/back_buttons.svg);
    opacity: 0.4;
    background-position: top center;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: none;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
      transform: scale(1.05);
    }
  }

  .like_button {
    background: none;
    background-image: url(../assets/heart_icons_light.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.7rem;
    height: 2.7rem;
    border: none;
    outline: none;
    &:hover,
    &:focus,
    &:active {
      background-position: center;
    }
  }
}

// .background {
//   background-color: #e7aa35;
//   width: 25rem;
//   height: 2rem;
//   background: url(../assets/stars_group.png);
//   background-size: contain;
//   background-repeat: no-repeat;
//   .foreground {
//     width: 46%;
//     height: 100%;
//     background: url(../assets/stars_group_filled.png);
//     background-size: cover;
//     background-repeat: no-repeat;
//   }
// }

.audio_container {
  position: absolute;
  opacity: 0.6;
  width: 10rem;
  height: 10rem;
  z-index: 5;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  top: 7.5rem;
  left: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &--visible {
    display: flex;
  }

  &:hover,
  &:focus-within {
    opacity: 1;
    box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.5);
  }

  .audio_svg {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    transform: scale(1.01) rotate(-90deg);
  }

  .audio_path {
    //transition: stroke-dashoffset 0.2s linear;
  }

  .audio_button {
    background: none;
    background-image: url(../assets/audio_buttons.svg);
    width: 10rem;
    height: 10rem;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    background-position: top;
    z-index: 10;
  }

  .audio_button--playing {
    background-position: bottom;
  }
}

@media (min-width: 420px) {
  body {
    padding-top: 13rem;
  }

  .header {
    height: 11rem;
  }

  .header_link {
    font-size: 2.4rem;
  }

  .header_icon {
    width: 2.6rem;
  }

  .header_search {
    height: 4.5rem;
    max-width: 26rem;
  }

  .search_icon {
    width: 2rem;
    padding: 0 1rem 0 1.2rem;
  }

  .search_input {
    font-size: 2rem;
    width: calc(100% - 6rem);
  }

  .search_list {
    padding-top: 4.5rem;
  }

  .list_item {
    font-size: 2rem;
    padding: 0.8rem 1.2rem;
  }
  .amount_header {
    font-size: 2.6rem;
  }
  .items_container {
    //justify-content: center;
    //grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
  .item {
    height: 14rem;
  }
  .item_image {
    width: 12rem;
  }

  .item_title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .item_subtitle {
    font-size: 2rem;
  }

  .item_button--info {
    font-size: 1.6rem;
    padding: 0.3rem 2rem;
  }

  .item_button--like {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media (min-width: 540px) {
  // .items_container {
  //   margin: 0 auto;
  //   width: 50rem;
  // }
  .amount_header {
    font-size: 3rem;
  }
  .item {
    height: 18rem;
    width: 48rem;
    margin: 1.5rem auto;
    border-radius: 2rem;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }

  .item_image {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 15rem;
  }

  .item_data {
    margin-left: 2rem;
  }

  .item_title {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .item_subtitle {
    font-size: 2.2rem;
    //white-space: unset;
    //display: -webkit-box;
    -webkit-line-clamp: 3;
    //-webkit-box-orient: vertical;
  }

  .item_button--info {
    font-size: 1.8rem;
    padding: 0.4rem 2.3rem;
  }

  .item_button--like {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 840px) {
  .items_container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .amount_header {
    grid-column: 1 / -1;
    margin: 0;
  }

  .item {
    margin: 0;
    width: unset;
  }
}
