//@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:wght@400;700&display=swap');
@import 'reset';
@import 'lightModeColors';
@import 'darkModeColors';
@import 'musicItem';
@import 'audioContainer';
@import 'modalContainer';

:root {
  font-size: 62.5%;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}

html {
  min-width: 28rem;
  min-height: 100%;
}

body {
  min-width: 28rem;
  background-color: white;
  background-image: url(../assets/mobile_background_image.svg),
    var(--body-background);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 10.5rem 2rem 3.5rem;
  font-family: 'Roboto Condensed', sans-serif;
}

// only for screen readers to stay visible
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  padding: 0.7rem 1rem;
  height: 9rem;
  width: 100%;
  border-bottom-right-radius: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: var(--header-background);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/header_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--header-triangle-position);
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  border-top-left-radius: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: var(--footer-background);

  &::after {
    content: '';
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background-image: url(../assets/footer_triangle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--footer-triangle-position);
    position: absolute;
    bottom: 100%;
    right: 0;
  }
}

.footer_text {
  margin-right: 1rem;
}

.header_logo {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_link {
  display: flex;
  opacity: 0.8;
  align-items: center;
  color: white;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  outline: none;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  &:hover,
  &:focus,
  &:active {
    color: #d94271;
    opacity: 1;

    & .header_icon {
      fill: #d94271;
    }
  }
}

.header_icon {
  fill: white;
  width: 2.2rem;
  margin-right: 0.5rem;
}

.header_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_search {
  height: 3.5rem;
  position: relative;
  min-width: 17rem;
  max-width: 22rem;
  margin-left: 0.5rem;
  border-radius: 3rem;
  transform-style: preserve-3d;
  z-index: 2;
  background-color: rgba(white, 0.15);
  display: flex;
  align-items: stretch;
  transition: background-color 0.3s ease-out;
  flex-grow: 1;
}

.header_search:focus-within {
  background-color: var(--search-background-focused);
}

.header_search:focus-within .search_list {
  transform: scale(1) translateZ(-10px);
  background-color: var(--search-list-background);
}

.header_search:focus-within .search_input {
  color: var(--search-color-focused);
  font-weight: var(--search-font-weight-focused);
}

.header_search:focus-within .search_icon {
  fill: var(--search-color-focused);
}

.header_search:focus-within .search_input::placeholder {
  color: var(--search-color-focused);
}

.search_icon {
  padding: 0 0.5rem 0 1rem;
  width: 1.6rem;
  height: 100%;
  fill: white;
}

.search_input {
  font-size: 1.4rem;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  width: calc(100% - 4.5rem);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;

  &::placeholder {
    color: white;
  }
}

.search_list {
  position: absolute;
  font-size: 1.4rem;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 3.5rem;
  background-color: transparent;
  transform: scale(0) translateZ(-10px);
  transition: background-color 0.3s ease-out;
  border-radius: 1.75rem;
  color: var(--search-list-color);
  overflow: hidden;
  box-shadow: 4px 4px 4px 0 var(--search-list-box-shadow);
}

.list_item {
  outline: none;
  list-style: none;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover,
  &:focus {
    background: var(--search-item-hover);
  }

  &:first-of-type {
    padding-top: 1rem;
  }

  &:last-of-type {
    padding-bottom: 1rem;
  }
}

.header_buttons {
  display: flex;
  justify-content: space-around;
  width: 35vw;
}

.header_button {
  font-family: 'Roboto Condensed', sans-serif;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  opacity: 0.75;
  width: 3rem;
  height: 3rem;
  margin: 0;
  margin-right: 1rem;
  transition: transform 0.1s ease-out;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    transform: scale(1.05);
  }
}

.button--user {
  background-image: url(../assets/user_icons.svg);
  background-position: top center;
  margin-left: 1rem;
}

.button--mode {
  background-image: url(../assets/mode_icons.svg);
  background-position: var(--button-mode-position);
}

.button_text {
  color: white;
  font-size: 1.6rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.button_quantity {
  color: white;
  position: absolute;
  top: -0.2rem;
  left: 75%;
}

.items_container {
  opacity: 0;

  &--visible {
    transition: opacity 0.5s ease;
    opacity: 1;
  }
}

.amount_header {
  margin-left: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--amount-header-color);
}

.loader {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 10rem;
  height: 10rem;
  fill: white;
  stroke: white;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 1s 0s ease-out, transform 0s 1s ease-out,
    visibility 0s 1s ease-out;

  &--visible {
    visibility: visible;
    transition: opacity 1s 0s ease-out, transform 0s 1s ease-out,
      visibility 0s ease-out;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    animation: spinning 2s forwards infinite cubic-bezier(0, 0.7, 1, 0.39);
  }
}

.loader_path {
  stroke: var(--loader-path-stroke);
}

@keyframes spinning {
  from {
    transform: scale(1) translate(-50%, -50%) rotate(0);
  }
  to {
    transform: scale(1) translate(-50%, -50%) rotate(720deg);
  }
}

.popup {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 1rem 2.5rem;
  border-radius: 1rem;

  background-color: #001226;
  font-size: 1.6rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%);
  //transition: opacity 0.4s 0s ease-out, visibility 0s 1s ease-out;

  &--visible {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0s ease-out, visibility 0s 0s ease-out;
    animation: popup 2.5s ease-in-out forwards;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    visibility: visible;
  }
  16% {
    opacity: 1;
  }
  84% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/////////////////////////////////////////////
//              media queries              //
/////////////////////////////////////////////

@media (min-width: 280px) and (max-width: 460px) and (max-height: 400px) {
  .header {
    position: absolute;
  }

  .footer {
    display: none;
  }

  .amount_header {
    font-size: 2.6rem;
  }

  .item {
    height: 14rem;
  }

  .item_image {
    width: 12rem;
  }

  .item_title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .item_subtitle {
    font-size: 2rem;
  }

  .info_button {
    font-size: 1.6rem;
    padding: 0.3rem 2rem;
  }

  .checkbox_container--item {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media (min-width: 540px) {
  body {
    padding-top: 13rem;
  }

  .header {
    height: 11rem;
  }

  .header_link {
    font-size: 2.4rem;
  }

  .header_icon {
    width: 2.6rem;
  }

  .header_search {
    height: 4.5rem;
    max-width: 26rem;
  }

  .search_icon {
    width: 2rem;
    padding: 0 1rem 0 1.2rem;
  }

  .search_input {
    font-size: 2rem;
    width: calc(100% - 6rem);
  }

  .search_list {
    padding-top: 4.5rem;
    border-radius: 2.25rem;
    font-size: 2rem;
  }

  .list_item {
    padding: 1rem 1.4rem;
  }

  .list_item:first-of-type {
    padding-top: 1.4rem;
  }

  .list_item:last-of-type {
    padding-bottom: 1.6rem;
  }

  .header_buttons {
    width: 30vw;
  }

  .header_button {
    width: 4rem;
    height: 4rem;
  }

  .button_quantity {
    font-size: 1.8rem;
  }

  .amount_header {
    font-size: 3rem;
  }

  .item {
    height: 18rem;
    width: 48rem;
    margin: 1.5rem auto;
    border-radius: 2rem;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }

  .item_image {
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    width: 15rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.4);
  }

  .item_data {
    margin-left: 2rem;
  }

  .item_title {
    font-size: 2.2rem;
    font-weight: 700;
  }

  .item_subtitle {
    font-size: 2.2rem;
    -webkit-line-clamp: 3;
  }

  .info_button {
    font-size: 1.8rem;
    padding: 0.4rem 2.3rem;
  }

  .checkbox_container--item {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 10rem;
    padding-bottom: 7rem;
  }

  .header {
    flex-direction: unset;
    align-items: center;
    height: 8rem;
    border-bottom-right-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .header_logo {
    width: unset;
    flex-grow: 5;
    margin-left: 2rem;
  }

  .header_group {
    flex-grow: 2;
    justify-content: flex-end;
  }

  .header_search {
    max-width: 46rem;
  }

  .search_icon {
    width: 2.2rem;
    padding: 0 1.4rem 0 1.4rem;
  }

  .search_input {
    width: calc(100% - 8rem);
  }

  .search_list {
    font-size: 2.4rem;
  }

  .header_buttons {
    width: 22rem;
    margin: 0 2rem;
  }

  .header_button {
    margin: 0;
  }

  .amount_header {
    font-size: 3.4rem;
    margin: 0;
  }

  .modal_overflow {
    height: 56rem;
  }

  .modal {
    width: 36rem;
    height: 55rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .modal_data {
    padding-bottom: 5.5rem;
  }

  .data_title {
    font-size: 1.6rem;
    width: 35%;
  }

  .data_content {
    font-size: 2rem;
  }

  .data_link {
    font-size: 2rem;
    transform: translate(2.4rem, 0.2rem);

    &::before {
      width: 2rem;
      height: 2rem;
      left: -2.4rem;
    }
  }

  .modal_data--explicit {
    &::after {
      width: 10rem;
      height: 2.5rem;
      border-bottom-left-radius: 3rem;
      font-size: 1.2rem;
    }
  }

  .modal_buttons {
    padding: 0 1.8rem 1.5rem;
  }

  .back_button {
    width: 4rem;
    height: 4rem;
  }

  .checkbox_container--modal {
    width: 3.7rem;
    height: 3.7rem;
  }

  .footer {
    height: 5rem;
    border-top-left-radius: 5rem;

    &::after {
      width: 5rem;
      height: 5rem;
    }
  }

  .footer_text {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
}

@media (max-height: 414px) and (min-width: 460px) and (max-width: 823px) {
  body {
    padding-top: 7rem;
    background-size: auto;
  }

  .header {
    height: 5rem;
    justify-content: space-between;
    flex-direction: row;
    position: absolute;
  }

  .header_logo {
    margin: 0;
    width: unset;
  }

  .header_link {
    font-size: 1.6rem;
  }

  .header_search {
    height: 3rem;
    width: 21rem;
  }

  .search_input {
    font-size: 1.4rem;
  }

  .search_icon {
    width: 1.6rem;
  }

  .search_list {
    padding-top: 3rem;
    border-radius: 1.5rem;
    font-size: 1.4rem;
  }

  .header_buttons {
    width: 12rem;
  }

  .header_button {
    width: 3rem;
    height: 3rem;
  }

  .button_quantity {
    font-size: unset;
  }

  .footer {
    display: none;
  }
}

@media (min-width: 840px) {
  body {
    background-image: url(../assets/desktop_background_image.svg),
      var(--body-background);
    background-size: contain;
    background-position: center;
  }

  .header_link {
    font-size: 2.8rem;
  }

  .header_icon {
    width: 3rem;
  }

  .items_container {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .amount_header {
    grid-column: 1 / -1;
    margin: 0;
  }

  .item {
    margin: 0;
    width: unset;
  }
}

@media (min-width: 1200px) {
  body {
    padding-top: 12rem;
  }

  .header {
    height: 9rem;
  }

  .header_link {
    font-size: 3.6rem;
  }

  .header_icon {
    width: 3.6rem;
  }

  .header_group {
    align-items: flex-start;
  }

  .header_search {
    height: 5rem;
  }

  .search_input {
    font-size: 2.4rem;
  }

  .search_list {
    padding-top: 5rem;
    border-radius: 2.5rem;
  }

  .items_container {
    gap: 3rem;
  }

  .amount_header {
    font-size: 4rem;
  }

  .item {
    height: 23rem;
    border-radius: 3rem;
    padding: 2rem 2.5rem 2rem 2rem;
  }

  .item_image {
    width: 20rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }

  .item_title,
  .item_subtitle {
    font-size: 3rem;
  }

  .info_button {
    font-size: 2.2rem;
    border-width: 0.2rem;
    padding: 0.6rem 2.8rem;
  }

  .checkbox_container--item {
    width: 4rem;
    height: 4rem;
  }

  .modal_overflow {
    height: 63rem;
  }

  .modal {
    width: 42rem;
    height: 62rem;
    border-radius: 3rem;
  }

  .modal_data--explicit {
    &::after {
      width: 12rem;
      height: 3rem;
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1700px) {
  .header_buttons {
    width: 35rem;
  }

  .items_container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    max-width: 250rem;
    margin-left: auto;
    margin-right: auto;
  }

  .modal_overflow {
    height: 78rem;
  }

  .modal {
    width: 52rem;
    height: 77rem;
  }

  .modal_data {
    padding: 2.8rem 2.8rem 9rem;
  }

  .data_title {
    font-size: 2.2rem;
  }

  .data_content {
    font-size: 2.6rem;
  }

  .data_link {
    font-size: 2.6rem;
    transform: translate(3rem, 0.2rem);

    &::before {
      width: 2.6rem;
      height: 2.6rem;
      left: -3rem;
    }
  }

  .modal_buttons {
    padding: 0 2.8rem 2rem;
  }

  .back_button {
    width: 5.5rem;
    height: 5.5rem;
  }

  .checkbox_container--modal {
    width: 5.2rem;
    height: 5.2rem;
  }
}
